@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    background-image: linear-gradient(rgba(10, 10, 10, 0.4), rgba(5, 8, 24, 0.342)), url("reactwind\src\img\codelaptop.jpg");
  }
  
  